## Data exploration
___

In [1]:
import pandas as pd
import os
import re

In [2]:
import os
if os.path.basename(os.getcwd()) != 'food-pairing':
    os.chdir(os.path.dirname(os.getcwd()))

In [3]:
compounds_df = pd.read_csv("foodb/Content.csv")

/var/folders/y5/sg4lr5xn7fv5ry3py7wvzj240000gn/T/ipykernel_76703/1115067358.py:1: DtypeWarning: Columns (4,5,6,7,8,9,13,14,21,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  compounds_df = pd.read_csv("foodb/Content.csv")

In [4]:
compounds_df.head()

,id,source_id,source_type,food_id,orig_food_id,orig_food_common_name,orig_food_scientific_name,orig_food_part,orig_source_id,orig_source_name,...,citation_type,creator_id,updater_id,created_at,updated_at,orig_method,orig_unit_expression,standard_content,preparation_type,export
0,1,1,Nutrient,4,29,Kiwi,Actinidia chinensis PLANCHON [Actinidiaceae],Fruit,FAT,FAT,...,DATABASE,NaN,NaN,2014-11-05 13:42:11 UTC,2019-12-11 20:23:57 UTC,NaN,NaN,1955.00,raw,0
1,2,1,Nutrient,6,53,Onion,Allium cepa L. [Liliaceae],Bulb,FAT,FAT,...,DATABASE,NaN,NaN,2014-11-05 13:42:11 UTC,2019-12-11 20:23:57 UTC,NaN,NaN,1853.95,raw,0
2,3,1,Nutrient,6,53,Onion,Allium cepa L. [Liliaceae],Leaf,FAT,FAT,...,DATABASE,NaN,NaN,2014-11-05 13:42:11 UTC,2019-12-11 20:23:57 UTC,NaN,NaN,4150.00,raw,0
3,4,1,Nutrient,9,55,Chives,Allium schoenoprasum L. [Liliaceae],Leaf,FAT,FAT,...,DATABASE,NaN,NaN,2014-11-05 13:42:11 UTC,2019-12-11 20:23:57 UTC,NaN,NaN,3900.00,raw,0
4,5,1,Nutrient,11,70,Cashew,Anacardium occidentale L. [Anacardiaceae],Fruit,FAT,FAT,...,DATABASE,NaN,NaN,2014-11-05 13:42:11 UTC,2019-12-11 20:23:57 UTC,NaN,NaN,2500.00,other,0

In [16]:
compounds_df['orig_food_common_name'] = compounds_df['orig_food_common_name'].astype(str)
compounds_df['orig_food_common_name'] = compounds_df['orig_food_common_name'].apply(lambda x: x.replace('(', '').replace(')', ''))

In [17]:
result = compounds_df.groupby('orig_food_common_name')['source_id'].agg(list).reset_index()

In [18]:
result.sort_values("orig_food_common_name")

,orig_food_common_name,source_id
0,100% barley malt reference beer,"[30981, 8298, 3241, 8133, 19928, 19914, 8281, ..."
1,20% buckwheat malt beer,"[11907, 2536, 30981, 8298, 3241, 8133, 19928, ..."
2,40% buckwheat malt beer,"[11907, 2536, 30981, 8298, 3241, 8133, 19928, ..."
3,9-grain bread,[2608]
4,AMARANTH FLAKES,"[2, 3, 4, 5, 11, 15, 20, 21, 23, 24, 29, 34, 3..."
...,...,...
9456,steam-distilled onion oil,"[3596, 7867, 7925, 8046, 8557, 8558, 9366, 108..."
9457,taco shell,"[8049, 8230, 8131, 10899, 3350, 11834, 30607, ..."
9458,tortilla flour,"[12561, 21567, 8128, 14487, 8530, 3286, 8241, ..."
9459,unsure,"[1130, 12594]"
9460,whole leaves of lettuce,"[465, 556, 710, 787, 1112, 1131, 1141, 1223, 1..."

In [19]:
result.to_csv("data/food_compounds.csv")

In [5]:
foods_df = pd.read_csv("foodb/Food.csv")

In [6]:
foods_df.head()

,id,name,name_scientific,description,itis_id,wikipedia_id,picture_file_name,picture_content_type,picture_file_size,picture_updated_at,...,food_type,created_at,updated_at,creator_id,updater_id,export_to_afcdb,category,ncbi_taxonomy_id,export_to_foodb,public_id
0,1,Angelica,Angelica keiskei,Angelica is a genus of about 60 species of tal...,NaN,Angelica,1.jpg,image/jpeg,111325.0,2012-04-20 09:29:57 UTC,...,Type 1,2011-02-09 00:37:14 UTC,2019-05-14 18:04:13 UTC,NaN,2.0,False,specific,357850.0,True,FOOD00001
1,2,Savoy cabbage,Brassica oleracea var. sabauda,Savoy cabbage (Brassica oleracea convar. capit...,NaN,Savoy cabbage,2.jpg,image/jpeg,155178.0,2012-04-20 09:39:54 UTC,...,Type 1,2011-02-09 00:37:15 UTC,2019-05-14 18:04:13 UTC,NaN,NaN,False,specific,1216010.0,True,FOOD00002
2,3,Silver linden,Tilia argentea,Tilia tomentosa (Silver Lime in the UK and Sil...,845789.0,Tilia tomentosa,3.jpg,image/jpeg,56367.0,2012-04-20 09:41:25 UTC,...,Type 1,2011-02-09 00:37:15 UTC,2019-05-17 16:19:45 UTC,NaN,NaN,False,specific,NaN,True,FOOD00003
3,4,Kiwi,Actinidia chinensis,"The kiwifruit, often shortened to kiwi in many...",506775.0,Kiwifruit,4.jpg,image/jpeg,110661.0,2012-04-20 09:32:21 UTC,...,Type 1,2011-02-09 00:37:15 UTC,2019-05-14 18:04:13 UTC,NaN,NaN,False,specific,3625.0,True,FOOD00004
4,5,Allium,Allium,Allium haematochiton is a species of wild onio...,42634.0,Allium haematochiton,5.jpg,image/jpeg,341911.0,2012-04-20 09:37:44 UTC,...,Type 1,2011-02-09 00:37:15 UTC,2019-05-14 18:04:13 UTC,NaN,NaN,False,specific,4678.0,True,FOOD00005